spring:
  profiles:
    active: prod   # 기본 실행은 local

  thymeleaf:
    cache: false

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  jackson:
    time-zone: Asia/Seoul

server:
  port: ${PORT:8080}

logging:
  level:
    org.thymeleaf: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
