<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/styleDetail.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<main class="list-main">
    <h1>게시글 목록</h1>
    <!-- 카테고리 선택 필터 -->
    <form class="list-main-form" th:action="@{/articles/category-filter}" method="get" >
        <label for="category-select">카테고리 선택: </label>
        <select id="category-select" name="category" required onchange="location.href='/articles/category/' + this.value;">
            <option value="" disabled selected>카테고리를 선택하세요</option>
            <option value="notice">공지</option>
            <option value="free">자유</option>
            <option value="qna">질문</option>
            <option value="diary">일기</option>
        </select>
        <noscript>
            <button type="submit">필터</button>
        </noscript>
    </form>

    <!-- 새 글 작성 버튼 (로그인 사용자만 보임) -->
    <div class="new-article-btn" sec:authorize="isAuthenticated()">
        <a href="/articles/new" class="btn">새글</a>
    </div>

    <!-- 글이 있을 때 -->
    <ul class="article-list" th:unless="${#lists.isEmpty(articles)}">
        <li th:each="a : ${articles}">
            <a th:href="@{'/articles/' + ${a.id}}" th:text="${a.title}">제목</a>
            <div>
                작성일 : <span th:text="${#temporals.format(a.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                </span>
            </div>
            <div class="article-stats">
                <span>조회수: <span th:text="${a.views}">0</span></span>
                <span>좋아요: <span th:text="${a.likeCount}">0</span></span>
            </div>
        </li>
    </ul>

    <div th:if="${#lists.isEmpty(articles)}">아직 글이 없습니다.</div>
</main>

<div th:replace="footer :: footer"></div>
</body>

</html>
