<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/styleDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/toast.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<main class="edit-main"><h1>글 수정</h1>
    <form th:action="@{'/articles/' + ${article.id} + '/edit'}" method="post" novalidate>
        <input type="hidden" id="article-id" th:value="${article} != null ? ${article.id} : ''"/>

        <div>
            <label>카테고리
                <select id="category" name="category">
                    <option value="" disabled selected>카테고리를 선택하세요</option>
                    <option value="공지">공지</option>
                    <option value="자유">자유</option>
                    <option value="질문">질문</option>
                    <option value="일기">일기</option>
                </select>

            </label>
        </div>

        <div>
            <label>제목
                <input type="text" id="title" name="title" th:value="${article.title}" required>
            </label>
        </div>

        <div>
            <label>내용
                <textarea id="content" name="content" rows="8" required th:text="${article.content}"></textarea>
            </label>
        </div>

        <button id="modify-btn" type="button">수정</button>


        <a th:href="@{'/articles/' + ${article.id}}">취소</a>
        <a href="/articles">목록</a>
    </form>
</main>
<script src="/js/article.js" defer></script>
<div th:replace="footer :: footer"></div>

<div id="toast" class="toast"></div>
</body>
</html>
